.Body{
margin: 0;
}

.Menu{ /*La classe Menu vient remplacer le '*' */
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#043775;
    list-style-type: none;
    display: table;
    clear: both;

}

.Bloc_LogoMarseille_et_Ville{

    display: flex;    
    flex-direction: row; 
    padding: 0;
    margin: 0;
}

.logo_marseille{
    
    width: 28%;
    margin: 5% 5% 5% 2.5% ;
    
    
}

.ville_de_marseille{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 40% 5% 2.5%; 
    list-style-type: none; 
    text-decoration: none;

}
.lien-index{
    text-decoration: none;
}
.logo_Menu-deroulant{
    width: 7.5%; 

}

.Menu-deroulant{
    margin:2.5% 13% 2.5%;
    
}

.Contenu_Menu{
    display:none;
    box-shadow: 0px 1px 2px #CCC;
    background-color:#CEF1F9;
    position: absolute;
    width: 50%;
    z-index: 1;
    border-top: 2px solid #0078B8;
    left: 80px;
    list-style-type: none;

} 


.Liste-Contenu_Menu{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    text-align: left;

}

.Menu-deroulant:hover .Contenu_Menu{
    
    display: block;

}

.Liste-reseaux{
    margin-top: 10%;
    padding: 0;
    display: flex;
    align-items: center;
    width: 10%;
    text-align: center;
    position: relative;
    
}

.Toutes-les-listes{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}  


.Liens{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent; 
    padding: 10px;
    border-bottom: none;
    cursor: pointer;
    list-style-type:none ;
}  

.Liens:hover{
    color:#0078B8;

} 

.Liens-reseaux:hover{
    position: relative;
    transition: 0s ease-in-out;  
    transform: scale(1.1);

}

.réseaux_sociaux{
    display:flex;
    justify-content: end;
}

.logo_twitter{
   width: 55%;
   margin: 0;

}

.logo_facebook{
    width: 55% ;
    margin: 0;

}

.logo_insta{
    width: 55%;
    margin: 0;

}

.logo_youtube{
    width: 75%;
    margin: 0;
    
}

/* Partie footer */
/* reseaux sociaux et taille logo  */
.footer{
    margin-top: 5%;
    background-color: #043775;

}

.espace_reseau_footer{

    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.reseaux_sociaux_footer{
    display:flex;   
    justify-content: end;
    margin-right: 1%;
} 


.Liste-reseaux_footer{
    margin-top: 1%;
    padding: 0;
    display: flex;
    align-items: center;
    width: 2%;
    text-align: center;
    position: relative;
    
}


.logo_twitter_footer{
    width: 65%;
    margin: 0;

}

.logo_facebook_footer{
    width: 65% ;
    margin: 0;

}

.logo_insta_footer{
    width: 65%;
    margin: 0;

}

.logo_youtube_footer{
    width: 90%;
    margin: 0;
    
}

.logo_rtm{

    width: 45%;

}

.bas_de_page{
    border-left: 1px solid white;
    padding-left: 1%; 
    
    color: white;
    text-decoration: none;
    width: 100%;  
    
} 
.bas_de_page:hover{
    color: #0078B8;
    position: relative;
    transition: 130ms ease-in-out;      
} 

.margin_footer{
    padding: 4.5% 0 0 0.5%;
    color: #043775;
    display: flex;
    justify-content: center;
    margin: 0 5% 0 10%;
} 
